<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
@{
    Layout = null;
}
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>
<h1>@ViewBag.message</h1>
<div class="container">
    <input type="text" class="form-control" />
</div>
