@model List<projetMVC1.Models.Personne>
@{
    ViewBag.Title = "SelectAll";
}
<h2>SELECTALL</h2>
<table>
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>prenom</th>
        <th>age</th>
    </tr>
    @foreach (var x in @Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Nom</td>
            <td>@x.Prenom</td>
            <td>@x.Age</td>
        </tr>
    }
</table>