<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceHello" />
                <binding name="BasicHttpBinding_IServiceHello1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61752/ServiceHello.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceHello" contract="ServiceReference1.IServiceHello"
                name="BasicHttpBinding_IServiceHello" />
            <endpoint address="http://localhost:61752/ServiceHello.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceHello1" contract="ServiceReference2.IServiceHello"
                name="BasicHttpBinding_IServiceHello1" />
        </client>
    </system.serviceModel>
</configuration>