
@{
    ViewBag.Title = "GoInsert";
}

<h2>GoInsert</h2>

<form method="post" action="/PersonneForm/DoInsert">
    <label>id</label><input type="number" name="id" /><br />
    <label>nom</label><input type="text" name="nom" /><br />
    <label>prenom</label><input type="text" name="prenom" /><br />
    <label>age</label><input type="number" name="age" /><br />
    <button type="submit">Insert</button>
</form>