
@{
    ViewBag.Title = "Page3";
}

<h2>Page3</h2>

<form method="post" action="/Form/Page4">
    <label>nom</label><input type="text" name="nom" /><br />
    <label>prenom</label><input type="text" name="prenom" /><br />
    <button id="btnOk" type="submit">Click</button>
</form>