
@{
    ViewBag.Title = "Page5";
}

<h2>Page5</h2>

<form method="post" action="/Form/Page6">
    <label>nom</label><input type="text" name="x" /><br />
    <button id="btnOk" type="submit">Click</button>
</form>