
@{
    ViewBag.Title = "Test8";
    string mon_image = "~/Images/lance-teckel.png";
}

<h2>Test8</h2>
<div>
    <img src="~/Images/canivtt.png" width="100" height="100"  />
</div>
<hr />
<div>
    <img width="100" height="100" src=@Url.Content(mon_image) />
</div>

